.border {
  border: 3px solid #e0e722;
  box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51, 0 0 12px #b3ff51, inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51, inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
}
.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  transition: none;
}

.btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url('https://img.icons8.com/small/16/000000/long-arrow-right.png');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.border {
  border: 3px solid #e0e722;
  box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51, 0 0 12px #b3ff51, inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51, inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
}

@media only screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .card-title {
    font-size: 100%;
  }
  .mouse {
    margin-top: 2.2rem;
  }
  .mousetxt {
    margin-bottom: 1rem;
    margin-top: 0.7rem;
  }
  .mousepad {
    margin-top: 2.2rem;
  }
  .mousepad-title {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
  .rtx-title {
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .card-title {
    font-size: 100%;
  }
  .mouse {
    margin-top: 2.2rem;
  }
  .mousetxt {
    margin-bottom: 0.8rem;
    margin-top: 1.5rem;
  }
  .mousepad {
    margin-top: 2.2rem;
  }
  .mousepad-title {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .rtx-title {
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-device-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {
  .card-title {
    font-size: 100%;
  }
  .mouse {
    margin-top: 2.2rem;
  }
  .mousetxt {
    margin-bottom: 1.94rem;
    margin-top: 2.4rem;
  }

  .mousepad {
    margin-top: 2.2rem;
  }
  .mousepad-title {
    margin-top: 2.4rem;
    margin-bottom: 0.77rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .card-title {
    font-size: 100%;
  }
  .mouse {
    margin-top: 2.2rem;
  }
  .mousetxt {
    margin-bottom: 2rem;
    margin-top: 2.2rem;
  }

  .mousepad {
    margin-top: 2.2rem;
  }
  .mousepad-title {
    margin-top: 2.4rem;
    margin-bottom: 0.77rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .judul3 {
    font-size: 90%;
  }
  #judul1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #judul2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .table {
    margin: 0 auto;
  }
  .textdalam {
    font-size: 80%;
  }
}
