/* .border {
  border: 3px solid #e0e722;
  box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51, 0 0 12px #b3ff51, inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51, inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
} */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.card-img-top {
  width: 16rem;
}
.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  transition: none;
}

.btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url('https://img.icons8.com/small/16/000000/long-arrow-right.png');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

@media only screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .card-title {
    font-size: 100%;
  }
  .mouse {
    margin-top: 2.2rem;
  }
  .mousetxt {
    margin-bottom: 1rem;
    margin-top: 0.7rem;
  }
  .mousepad {
    margin-top: 2.2rem;
  }
  .mousepad-title {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
  .rtx-title {
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .card-title {
    font-size: 100%;
  }
  .mouse {
    margin-top: 2.2rem;
  }
  .mousetxt {
    margin-bottom: 0.8rem;
    margin-top: 1.5rem;
  }
  .mousepad {
    margin-top: 2.2rem;
  }
  .mousepad-title {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .rtx-title {
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-device-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {
  .card-title {
    font-size: 100%;
  }
  .mouse {
    margin-top: 2.2rem;
  }
  .mousetxt {
    margin-bottom: 1.94rem;
    margin-top: 2.4rem;
  }

  .mousepad {
    margin-top: 2.2rem;
  }
  .mousepad-title {
    margin-top: 2.4rem;
    margin-bottom: 0.77rem;
  }
  .rtx-title {
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .card-title {
    font-size: 100%;
  }
  .mouse {
    margin-top: 2.2rem;
  }
  .mousetxt {
    margin-bottom: 2rem;
    margin-top: 2.2rem;
  }

  .mousepad {
    margin-top: 2.4rem;
  }
  .mousepad-title {
    margin-top: 2rem;
    margin-bottom: 0.77rem;
  }
  .rtx-title {
    margin-top: 2rem;
    margin-bottom: 0.7rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .judul3 {
    font-size: 90%;
  }
  #judul1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #judul2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .table {
    margin: 0 auto;
  }
  .textdalam {
    font-size: 80%;
  }
}

/* BUAT BUTTON */

/* From cssbuttons.io by @adamgiebl */
.cssbuttons-io-button {
  background: black;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em black;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em red;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: black;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* AKHIR BUTTON */

/* TOOGLE SWITCH DARK/LIGHT */

/* From cssbuttons.io */
.toggle-border {
  border: 2px solid #f0ebeb;
  border-radius: 130px;
  margin-bottom: 45px;
  padding: 1px 2px;
  background: linear-gradient(to bottom right, white, rgba(220, 220, 220, 0.5)), white;
  box-shadow: 0 0 0 2px #fbfbfb;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-border:last-child {
  margin-bottom: 0;
}

.toggle-border input[type='checkbox'] {
  display: none;
}

.toggle-border label {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
  background: white;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  transition: background 0.5s;
}

.toggle-border input[type='checkbox']:checked + label {
  background: black;
}

.handle {
  position: absolute;
  top: -8px;
  left: -10px;
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  background: repeating-radial-gradient(circle at 50% 50%, rgba(200, 200, 200, 0.2) 0%, rgba(200, 200, 200, 0.2) 2%, transparent 2%, transparent 3%, rgba(200, 200, 200, 0.2) 3%, transparent 3%),
    conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
  border-radius: 50%;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.4);
  transition: left 0.4s;
}

.toggle-border input[type='checkbox']:checked + label > .handle {
  left: calc(100% - 35px + 10px);
}

/* Akhir */

/* produk section 3D*/
.produk-box {
  position: relative;
  /* background-color: salmon; */
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.produk-box::before {
  content: '';
  position: absolute;
  color: black;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
  opacity: 0;
}

.produk-box:hover::before {
  opacity: 0.5;
}

.produk-box::after {
  content: '';
  position: absolute;
  color: black;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
  opacity: 0;
}

.produk-box:hover::after {
  opacity: 0.2;
}

.produkname {
  position: absolute;
  top: 10%;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 2em;
  opacity: 0.5;
  transition: 0, 5s;
  transform: translate3d(0, 0, 30px);
}

.produk-box:hover .produkname {
  top: 30px;
  opacity: 1;
}

.produk-button {
  position: relative;
  border-radius: 20px;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 55px);
  opacity: 0;
  transition: 0.5s;
}

.produk-box:hover .produk-button {
  opacity: 1;
  bottom: 25px;
}

.produkimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 50px);
  max-width: 5000px;
  transition: 0.5s;
}

.produk-box:hover .produkimg {
  transform: translate3d(-50%, -50%, 50px) rotate(15deg) scale(1.4);
}

.harga {
  opacity: 0;
  font-size: 6em;
  font-style: italic;
}

.produk-box:hover .harga {
  opacity: 0.5;
}
/* produk section 3D*/

/* button deskripsi */
/* From cssbuttons.io */
#button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

#button.learn-more {
  width: 12rem;
  height: auto;
}

#button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

#button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

#button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

#button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

#button:hover .circle {
  width: 100%;
}

#button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
  -ms-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}

#button:hover .button-text {
  color: #fff;
}

/* button deskripsi */

/* card */
/* From cssbuttons.io by @adamgiebl */
.card01 {
  /* width: 32%; */
  /* height: 500px; */
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #808080, #882e2e 50%, #000000);
}

.card__content01 {
  background: white;
  border-radius: 17px;
  /* width: 100%; */
  /* height: 100%; */
}

.border {
  border: 1px solid black;

  box-shadow: 0 0 1px black, 0 0 2px black, 0 0 6px black, 0 0 12px black, inset 0 0 1px black, inset 0 0 2px black, inset 0 0 6px black, inset 0 0 12px black;
}

/* akhir card */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
